#index-sequence {
  border: 0px;
  height: 370px;
  margin: 0px;
  position: relative;
  /* required */
  border-bottom: 1px solid #c3b4a5;
}
#index-sequence .sequence-canvas {
  height: 100%;
  width: 100%;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  background-color: #fff;
}
#index-sequence .sequence-canvas li {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
#index-sequence .sequence-canvas li * {
  position: absolute;
}
.scene2 {
  display: none;
}
.shoes-bg {
  background-image: url('/images/index/floor.jpg');
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
.shoes-baby {
  background-image: url('/images/index/shoes_baby.png');
  width: 763px;
  height: 473px;
  right: -800px;
  top: -103px;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
.driven-bg {
  background-image: url('/images/index/grungy.jpg');
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  opacity: 0;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
.driven-info {
  left: -100px;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
.shoes-info {
  background-color: #000;
  color: #fff;
  opacity: 0.6;
  padding: 5px;
  font-size: 20px;
}
.shoes1 {
  top: 45px;
  left: -1000px;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  font-size: 30px;
}
.shoes2 {
  left: -1300px;
  top: 130px;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
.shoes3 {
  left: -1600px;
  top: 180px;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
.shoes4 {
  left: -1900px;
  top: 230px;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
.shoes5 {
  left: -2300px;
  top: 300px;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
.animate-in .driven-bg {
  opacity: 1;
}
.animate-in .driven-info {
  left: 0px;
}
.animate-in .shoes-bg {
  opacity: 1;
}
.animate-in .shoes-baby {
  right: 0px;
}
.animate-in .shoes1 {
  left: 100px;
}
.animate-in .shoes2 {
  left: 280px;
}
.animate-in .shoes3 {
  left: 316px;
}
.animate-in .shoes4 {
  left: 302px;
}
.animate-in .shoes5 {
  left: 100px;
}
/*
.animate-out {
	.driven-bg { 
		opacity: 0;
		.transition-duration(1s);
	}

	.driven-info { left: -100px; }

	.shoes-baby {
		right: -800px;
		.transition-duration(1s);
	}
}
*/
.scene3 {
  background-image: url('/images/index/grow.jpg');
  background-size: 100% 100%;
}
