body{
    font-size:12pt;
    background-color:#EBF0E7;
}

.bg_color {
    background-color:#F3F2F2;
}

#img_header {
    width:100%;
}

#logo
{
    margin-left:0px;
}

#customer {
    height:254px;
    padding:3% 0;
    margin:auto;
}

#header_bg {
    height:254px;
    background-color:#f3f2f2;
    margin:0px;    
}

.italics
{
    font-style:italic;
    color:black;
}

#navigation
{
    width:100%;
	margin:0;
    margin-left: auto ;
	margin-right: auto ;
	background: #565656 repeat-x;
	color:white;	
}

#nav_header
{
	text-align:center;
	z-index:2;
	border: 0;	
}

#nav_header ul
{
   margin-left:-30px;
   padding-top:1.5%;
}

#nav_header ul li
{
	position: relative;
	display: inline;
	text-decoration: none;
 
}

#nav_header a
{
	color:#fff;	
	text-decoration: none;
	font-family: "Verdana", "Geneva", sans-serif;
	font-size: 14px;
	font-weight: bold;
	font-variant: small-caps;
	letter-spacing: 3.2pt;
	word-spacing: 3.0pt;
	
}

#nav_header ul li a:hover
{
	text-decoration: underline;
	color: #C4D9D9;
}

ul.nav_list li ul.nav_2 {  
     list-style: none;  
     position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/  
     left: 0; top: 35px;  
     background: #333;  
     margin: 0; padding: 0;  
     display: none;  
     float: left;  
     width: 170px;  
     border: 1px solid #111;  
 }  

 ul.nav_list li ul.nav_2 li{  
     margin: 0; padding: 0;  
     border-top: 1px solid #252525; /*--Create bevel effect--*/  
     border-bottom: 1px solid #444; /*--Create bevel effect--*/  
     clear: both;  
     width: 170px;  
 }  
 html ul.nav_list li ul.nav_2 li a {  
     float: left;  
     width: 145px;  
     background: #333 url(dropdown_linkbg.gif) no-repeat 10px center;  
     padding-left: 20px;  
 }  


#details
{
	background: #565656 repeat-x;
  	color:#fff;	
    width:100%;
    min-height:100px;
    font-family: "lucida sans unicode","lucida grande",sans-serif;
	font-size: 12px;
	font-weight: bold;
	font-variant: small-caps;
	letter-spacing: 3.2pt;
	word-spacing: 3.0pt;

 margin-top:1.5%;

}

#details a
{
  color:#fff;
 	text-decoration: none;

}

#details ul
{
	text-decoration: none;
  list-style-type: none;
 }

 #details li
 {
    margin:0;
}

#details ul li a:hover
{
	text-decoration: underline;
	color: #C4D9D9;
}


#details h3
{
	font-size: 1.3em;
  margin-bottom:5px;

}

#footer a
{
 	color:#fff;
	text-decoration: none;
	font-family: "Verdana", "Geneva", sans-serif;
	font-size: 12px;
	font-weight: bold;
	font-variant: small-caps;
	letter-spacing: 2.2pt;
	word-spacing: 2.0pt;
}

#footer ul a
{
 	font-size: 10px;
    font-weight: normal;
}

#bg
{
  width:100%
}

div#base {
  position: absolute;
  z-index: 0;
  width: 96%;
  text-align: center;
  display: block;
  margin-top: -80px;
  margin-bottom: 10px;
  margin-bottom: 0px;
}

  

