.navbar {
	border-bottom: 1px solid lighten(@brand-primary, 30%);
	margin: 0px;
	border-radius: 0px;
}

.navbar-nav {
	height: 88px;
	li > a {
       		height: 88px;
		line-height: 68px;
	}	
}

.navbar-brand {
	line-height: 58px;
}
