// http://www.kriesi.at/themedemo/?theme=enfold

.text-justify {
	text-align: justify;
}

.text-right {
	text-align: right;
}

.section-light {
	background-color:	@section-light-bg; 
	color: @brand-text;


	p {
		strong {
			color: @brand-text-emp;
		}
	}

	h3 {
		font-size: 16px;
		font-weight: 600;

	}
}

.section-light-alt {
	background-color:	@section-light-alt-bg;
	border:			1px solid #e1e1e1;
	box-shadow: 		inset 0 1px 3px rgba(0,0,0,0.1);	
	color: @brand-text;

}
.section-dark {
	background-color:	@section-dark-bg;
	color: #bfb7ac;
	box-shadow: 		inset 0 1px 3px rgba(0,0,0,0.1);

	h2 { color: #bfb7ac; }
	h4 { color: #bfb7ac; }
	p {
		strong {
			color: #fff;
		}
	}

	a {
		color: #fff;
	}
	
	.hr {
		clear: both;
		display: block;
		width: 100%;
		position: relative;
		height: 20px;
		line-height: 20px;
		margin: 30px 0;
		float: none;

		.hr-inner {
			position: absolute;
			height: 1px;
			top: 50%;
			margin-top: -1px;
			border-top-width: 1px;
			border-top-style: solid;
			width: 32%;
			left: 50%;
			margin-left: -16%;
			border-color: #e1e1e1;

			.hr-inner-style {
				border-radius: 20px;
				height: 9px;
				width: 9px;
				border-width: 2px;
				border-style: solid;
				display: block;
				position: absolute;
				left: 50%;
				margin-left: -5px;
				margin-top: -5px;
				border-color: #e1e1e1;
				background-color: @section-dark-bg;
			}
		}
	}
}

p {
	letter-spacing: 1px;
	line-height: 1.3em;
}

#workshops {
	padding: 25px 0 25px 0;

	.list {
		padding: 2px;

		ul {
			list-style: none;
			border-left: 1px dashed @brand-primary;

			li {
				position: relative;

				span {
					position: absolute;
					left: -72px;
					top: -20px;
					font-size: 34px;
					background-color: lighten(@brand-primary, 45);
					color: white;
					width: 60px;
					height: 60px;
					text-align: center;
					padding: 10px;
					border-radius: 30px;
					.transition(background-color 0.4s ease-in-out);
				}

				p { text-align: justify; }

				&:hover {
					span { background-color: @brand-text-emp; }
				}
			}
		}
	}	
}

#workshops-feedback {
	h2 {
		text-transform: uppercase;
		text-align: center;
	}
	ul {
		list-style: none;
		padding: 0px;
		overflow: hidden;
		margin: 30px;
		.clearfix;

		li {
			float: left;
			width: 50%;
			border-top: 1px dashed;
			border-left: 1px dashed;
			padding: 20px;
			position: relative;
			top: -1px;
			left: -1px;

			img {
				float: left;
				margin-right: 12px;
				width: 70px;
				height: 70px;
				border-radius: 50%;
			}

			h4 {
				margin: 2px 0;
				margin-left: 85px;
			}

			p { margin-left: 85px; }
			span { 
				margin-left: 85px; 
				display: block; 
			}
		}
	}
}

#breadcrumb {
	h2 {
		margin: 17px 0;
		font-size: 15px;
		font-weight: 200;
	}
	p {
		text-align: right;
		margin: 17px 0;
		font-size: 10px;
	}
}

.iconbox {
	letter-spacing: 1px;
	line-height: 1.3em;
	color: @brand-text;
	padding: 28px 48px;

	p {
		strong {
			color: @brand-text-emp;
		}
	}

	span {
		float: left;
		padding-top: 16px;
		font-size: 16px;
		padding-left: 8px;
		color: #382410;
	}
	
	h3 {
		text-transform: uppercase;
		padding-left: 30px;
		font-size: 16px;
		font-weight: 600;
	}
}

#welcome {
	h2 {
		text-transform: uppercase;
		text-align: center;
		padding-top: 30px;
	}	

	p {
		text-align: center;
	}
}

.gallery-preview-3 {
	width: 870px;
	margin-left: auto;
	margin-right: auto;
	.clearfix;

	> div {
		float: left;
		width: 280px;
		height: 190px;
		padding: 1px;
	}
	a {
		display: block;
		color: @brand-text;
		position: relative;

		&:hover .image-overlay {
			opacity: 0.7 !important;

			.image-overlay-inside {
				-webkit-animation: pop_small 0.5s 1 cubic-bezier(0.175, 0.885, 0.320, 1.275);
				animation: pop_small 0.5s 1 cubic-bezier(0.175, 0.885, 0.320, 1.275);
			}
		}
	}
	h3 {
		font-size: 12px;
		text-align: center;
		background: white;
		padding: 12px;
		margin: 0;
		position: relative;

		.arrow {
			height: 10px;
			width: 10px;
			position: absolute;
			top: -4px;
			left: 50%;
			margin-left: -5px;
			.rotate(45deg);
			border-width: 1px;
			border-style: none;
			background-color: white;
		}
	}
	img {
		width: 278px;
		height: 175px;
	}
	.image-overlay {
		left: 0px; 
		top: 0px; 
		overflow: hidden; 
		display: block; 
		height: 177px; 
		width: 278px;
		position: absolute;
		background: #fff;
		z-index: 500;
		opacity: 0;
		.transition(opacity 0.4s ease-in-out);

		.image-overlay-inside {
			position: absolute;
			border-radius: 50px;
			background: @brand-text-emp;
			height: 80px;
			width: 80px;
			line-height: 80px;
			left: 50%;
			top: 50%;
			margin: -40px 0 0 -40px;
			z-index: 500;
			text-align: center;
			font-size: 18px;
			font-weight: normal;
			color: white;
		}
	}
}

@-webkit-keyframes pop_small {
	0% {-webkit-transform:rotate(-175deg) scale(0.2)}
	100% {-webkit-transform:rotate(0deg) scale(1)}
}

@-moz-keyframes avia_pop_small {
	0% {-moz-transform:rotate(-175deg) scale(0.2)}
	100% {-moz-transform:rotate(0deg) scale(1)}

}

@keyframes avia_pop_small {
	0% {transform:rotate(-175deg) scale(0.2)}
	100% {transform:rotate(0deg) scale(1)}
}

footer {
	background-color:	#000;
	color:			@brand-text-alt;
	padding:		5px;

	em {
		color: @gray-light;
	}
	a {
		color: #fff;
		&:hover {
			color: #fff;
			text-decoration: underline;
		}
	}
	ul {
		list-style-type: none;
		margin: 0px;
		li {
			float: left;
			padding: 0px 2px;
			color: @brand-text-alt;
		}
	}
}
