// http://www.kriesi.at/themedemo/?theme=enfold

.text-justify { text-align: justify; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.text-caps { text-transform: uppercase; }


.tabpanel {
	padding: 20px 20px;

	.tab-content {
		padding: 20px;
	}
}

.strip {
	background-color: lighten(@brand-primary, 50%);
	padding: 0px;

	h4 {
		text-align: center;
		text-decoration: underline;
		color: @gray;
		margin: 25px 0px;
	}

	ul {
		list-style: none;
		padding: 0px;

		li {
			padding: 8px;
			margin: 10px 0px;
			color: @brand-primary;
			text-align: justify;
		}
	}
}

section {
	.section-light {
		.container {
		//	height: 250px;
		}	
	}
	.clearfix;
}

.section-image {
	height: 340px;
}

.section-image-alliance {
	background-image: url(../images/index/alliance-bg.jpg); 
}

.section-image-software {
	background-image: url(../images/index/software-bg.jpg); 
}

.section-image-studio {
	background-image: url(../images/index/studio-bg.jpg); 
}

.section-image-spark {
	background-image: url(../images/index/spark-bg.jpg); 
}

.section-image-systems {
	background-image: url(../images/index/systems-bg.jpg); 
}

.section-image-about {
	background-image: url(../images/index/about-bg.jpg);
}

.section-logo {
	width: 180px;
	top: 20px;
	padding-right: 30px;
	padding-top: 10px;
	.pull-right;
}

.section-watermark {
	background-repeat: no-repeat;
	background-position: 60px 65px;
	min-height: 300px;
}

.section-watermark-alliance {
	background-image: url(../images/index/alliance-watermark.png);	
}

.section-watermark-software {
	background-image: url(../images/index/software-watermark.png);	
}

.section-watermark-studio {
	background-image: url(../images/index/studio-watermark.png);	
}

.section-watermark-spark {
	background-image: url(../images/index/spark-watermark.png);	
}

.section-watermark-systems {
	background-image: url(../images/index/systems-watermark.png);	
}

.section-light {
	background-color:	@section-light-bg; 
	color: @brand-text;

	p {
		strong {
			color: @brand-text-emp;
		}
	}

	h3 {
		font-size: 16px;
		font-weight: 600;

	}

	.container {
		min-height: 250px;
	}
}

p {
	letter-spacing: 1px;
	line-height: 1.3em;
}

.teampic {
	width: 200px;
	height: 200px;
}

.teampic-kevin {
	background-image: url(../images/people/kevin.jpg);
}

.teampic-kevin:hover {
	background-image: url(../images/people/kevin-c.jpg);
}

.teampic-mark {
	background-image: url(../images/people/mark.jpg);
}

.teampic-mark:hover {
	background-image: url(../images/people/mark-c.jpg);
}

.teampic-janco {
	background-image: url(../images/people/janco.jpg);
}

.teampic-janco:hover {
	background-image: url(../images/people/janco-c.jpg);
}

.teampic-coenie {
	background-image: url(../images/people/coenie.jpg);
}

.teampic-coenie:hover {
	background-image: url(../images/people/coenie-c.jpg);
}

.teampic-candice {
	background-image: url(../images/people/candice.jpg);
}

.teampic-candice:hover {
	background-image: url(../images/people/candice-c.jpg);
}

.teampic-terence {
	background-image: url(../images/people/terence.jpg);
}

//.teampic-terence:hover {
//	background-image: url(../images/people/terence-c.jpg);
//}

.teampic-theo {
	background-image: url(../images/people/theo.jpg);
}

//.teampic-theo:hover {
//	background-image: url(../images/people/theo-c.jpg);
//}

.teampic-dani {
	background-image: url(../images/people/dani.jpg);
}

//.teampic-dani:hover {
//	background-image: url(../images/people/dani-c.jpg);
//}

.teampic-mandla {
	background-image: url(../images/people/mandla.jpg);
}

//.teampic-mandla:hover {
//	background-image: url(../images/people/mandla-c.jpg);
//}

.teampic-shanaaz {
	background-image: url(../images/people/shanaaz.jpg);
}

//.teampic-shanaaz:hover {
//	background-image: url(../images/people/shanaaz-c.jpg);
//}

.teampic-steven {
	background-image: url(../images/people/steven.jpg);
}

//.teampic-steven:hover {
//	background-image: url(../images/people/steven-c.jpg);
//}

footer {
	background-color:	#000;
	color:			@brand-text-alt;
	padding:		5px;

	em {
		color: @gray-light;
	}
	a {
		color: #fff;
		&:hover {
			color: #fff;
			text-decoration: underline;
		}
	}
	ul {
		list-style-type: none;
		margin: 0px;
		li {
			float: left;
			padding: 0px 2px;
			color: @brand-text-alt;
		}
	}
}
