// http://www.kriesi.at/themedemo/?theme=enfold

.text-justify {
	text-align: justify;
}

.text-right {
	text-align: right;
}

.section-light {
	background-color:	@section-light-bg; 
}

.section-dark {
	background-color:	@section-dark-bg;
}

.iconbox {
	letter-spacing: 1px;
	line-height: 1.3em;
	color: @brand-text;
	
	p {
		strong {
			color: @brand-text-emp;
		}
	}
	
	h3 {
		text-transform: uppercase;
	
		.glyphicon {
			vertical-align: top;
			// padding-right: 30px;
		}
	}
}

footer {
	background-color:	#000;
	color:			#fff;
	padding:		5px;

	em {
		color: @gray-light;
	}
	a {
		color: #fff;
		&:hover {
			color: #fff;
			text-decoration: underline;
		}
	}
	ul {
		list-style-type: none;
		margin: 0px;
		li {
			float: left;
			padding: 0px 2px;
		}
	}
}
