
<div class="bg-white">
           
    <div class="container pad-container b-mgr40">
    
    	 <div class="row col-md-12 t-mgr50 b-mgr40">
             <h3 class="heading">Community</h3>
             <p>Duis nec aliquet massa, sed dapibus mauris. Nulla vehicula nisl cum soluta nobis est eligendi optio fermentum qui dolor ipsum quia dolor sit amet. Nulla vehicula nisl cum soluta nobis est eligendi optio cumque nihil impedit non enim fermentum.</p>
         </div>
         
    	<!-- projects filter -->                    
        <div class="filter" style="text-align:left;">
            <a href="#" class="filter active" data-filter="*">All</a>
            {% for g in site.data.spark %}
            	<a href="#" class="filter" data-filter=".{{ g.type }}">{{ g.name }}</a>
            {% endfor %}
        </div>                    
        <!-- /projects filter -->
        
        <!-- projects grid -->
        <ul class="projects-grid-3 project-grid-gut hover-white hide-titles masonry" id="project-grid" style="position: relative; height: 780px;">

        {% for g in site.data.spark %}
        {% for i in g.items %}

<li class="project-item mix {{ g.type }}">
    <div data-rel="{{ g.type }}" data-title-id="img-01" rel="{{ g.type }}">
           <div class="project-img">
                <img src="{{ site.url }}/images/spark/{{ i.img }}" alt="{{ i.title }}">
           </div>
           <div class="project-intro">
                <h3 class="project-title">{{ i.title }}</h3>
                <div class="project-descr">{{ i.desc }}</div>
           </div>
    </div>
</li>

        {% endfor %}
        {% endfor %}
            
            
        </ul>
        <!-- / projects grid -->
    </div>

</div>