
<div class="bg-color">
          
   <div class="row"> 	  
        
        <div class="f-element dontHide">         
             <div id="counter-people" class="milestone-counter" data-perc="12">
             	<span class="milestone-count highlight">12</span>
                <div class="milestone-details small">People</div>
             </div>
        </div>
        <div class="f-element dontHide">         
             <div id="counter-people" class="milestone-counter" data-perc="51000">
                <span class="milestone-count highlight">0</span>
                <div class="milestone-details small">Hours</div>
             </div>
        </div>
        
        <div class="f-element dontHide">         
             <div class="milestone-areas" data-perc="4">
             	<span class="milestone-count highlight">4</span>
                <div class="milestone-details small">Focus Areas</div>
             </div>
        </div>
        
        <div class="f-element dontHide">         
             <div id="counter-questions" class="milestone-counter" data-perc="1">
             	<span class="milestone-count highlight">1</span>
                <div class="milestone-details small">Burning Question</div>
             </div>
        </div>
        
  </div>
     	
</div>

