
<div class="bg-color">
          
   <div class="row"> 	  
        
        <div class="f-element dontHide">         
             <div id="counter-coderetreat" class="milestone-counter" data-perc="18">
             	<span class="milestone-count highlight">18</span>
                <div class="milestone-details small">Code Retreats</div>
             </div>
        </div>
        
        <div class="f-element dontHide">         
             <div class="milestone-counter" data-perc="178">
             	<span class="milestone-count highlight">178</span>
                <div class="milestone-details small">Counter</div>
             </div>
        </div>
        
        <div class="f-element dontHide">         
             <div id="counter-coffee" class="milestone-counter" data-perc="0">
             	<span class="milestone-count highlight">0</span>
                <div class="milestone-details small">Cups of Coffee</div>
             </div>
        </div>
        
        <div class="f-element dontHide">         
             <div class="milestone-counter" data-perc="235">
             	<span class="milestone-count highlight">235</span>
                <div class="milestone-details small">Counter</div>
             </div>
        </div>
        
  </div>
     	
</div>

