
<!-- <div class="header-nav basic yamm nobg sticky" style="display: block;"> -->
<div class="header-nav basic yamm nobg set" style="display: block;">

    <div class="container">      
        <div class="basic-wrapper"> 
            <a class="btn mobile-menu right" data-toggle="collapse" data-target=".navbar-collapse"><i class="icon-menu-1"></i></a> 
            <a class="logo-white" href="index.html"><img src="/images/logo.png" alt=""></a>
            <a class="logo-dark" href="index.html"><img src="/images/logo.png" alt=""></a>
        </div>

        <div class="collapse navbar-collapse right">
            <ul class="nav navbar-nav">
                <li class="dropdown"><a href="#" class="dropdown-toggle js-activated white">Home</a>
                </li>

                <li class="dropdown"><a href="#" class="dropdown-toggle js-activated white">Systems</a>
                </li>

                <li class="dropdown"><a href="#" class="dropdown-toggle js-activated white">Spark</a>
                    <ul class="dropdown-menu">
                        <li><a href="about.html">Sisonke Rising</a></li>
                    </ul>
                </li>

                <li class="dropdown"><a href="#" class="dropdown-toggle js-activated white">Studio</a>
                </li>

                <li class="dropdown"><a href="#" class="dropdown-toggle js-activated white">Software</a>
                </li>

                <li>
                   <ul class="social-top">
                       <!--<li><a href="#" id="trigger-overlay"><i class="icon-search-1 white"></i></a></li>-->
                       <li><a href="#" class="nav-trigger"><i class="icon-menu-1 white"></i></a></li>
                   </ul>
                </li>

            </ul>
        </div>
    </div>
</div>