<div class="bg-gray t-pad60 b-pad80">
   <div class="container">
        
        <div class="row t-mgr30">
             <div class="col-md-10 col-xs-offset-1">
                  <h2 class="heading">Enable people to discover and become the best they can be</h2>
               <p class="h-sub l-pad80 r-pad80">Create and support an organisational ecosystem under which systems and people can meet each other's needs. Provide resilience, so that parts of the ecosystem can grow, live and die without affecting the whole.
                  </p>
             </div>
        </div>
   
   </div>
</div>

<div class="bg-white t-pad60 b-pad80">
   <div class="container pad-container">
           
        <div class="row t-mgr50">
            
             <div class="col-md-3 text-center">
                 <div class="services-box-3">
                      <i class="icon-picons-diamond"><i class="circle-border"></i></i>
                      <div class="content">
                           <h3>Emergent design</h3>
                           <p>Safe to fail probes when Complex. Formalise and introduce structure only when Complicated or Simple.</p>
                           <!-- <p><a href="#">read more →</a></p> -->
                      </div>
                 </div>
            </div>                        
            <div class="col-md-3 text-center">
                 <div class="services-box-3">
                      <i class="icon-picons-umbrella"><i class="circle-border"></i></i>
                      <div class="content">
                           <h3>Antifragile lifecycle</h3>
                           <p>Things grow, they adapt and sometimes things die. Driven becomes stronger, evolving and adapting, through the process.</p>
                           <!--<p><a href="#">read more →</a></p>-->
                      </div>
                 </div>
            </div>                        
            <div class="col-md-3 text-center">
                 <div class="services-box-3">
                      <i class="icon-picons-plane"><i class="circle-border"></i></i>
                      <div class="content">
                           <h3>Title</h3>
                           <p>When you subvert the system to the people you end up with a far more valuable system than when you treat people as parts of a machine.</p>
                           <p><a href="#">read more →</a></p>
                      </div>
                 </div>
            </div>
            <div class="col-md-3 text-center">
                 <div class="services-box-3">
                      <i class="icon-picons-support-2"><i class="circle-border"></i></i>
                      <div class="content">
                           <h3>Title</h3>
                           <p>Value can never be measured in only monetary terms.</p>
                           <p><a href="#">read more →</a></p>
                      </div>
                 </div>
            </div>
            
            
        </div>
                                           
   </div>
</div>