<div class="bg-gray t-pad60 b-pad80">
   <div class="container">
        
        <div class="row t-mgr30">
             <div class="col-md-10 col-xs-offset-1">
                  <h2 class="heading">Do you have independent technical advice you can trust?</h2>
               <p class="h-sub l-pad80 r-pad80">Our core mission is to provide Southern African businesses with an independent technical partner to guide them in their solutions development efforts.</p>
             </div>
        </div>
   
   </div>
</div>

<div class="bg-white t-pad60 b-pad80">
   <div class="container pad-container">
           
        <div class="row t-mgr50">
            
             <div class="col-md-3 text-center">
                 <div class="services-box-3">
                      <i class="icon-picons-animal-foot"><i class="circle-border"></i></i>
                      <div class="content">
                           <h3>Independent</h3>
                           <p>We don't sell licenses, we are not a gold partner to anyone, we don't aim to get bums on seats. We are driven by providing the best possible advice and guidance for your context.</p>
                           <!-- <p><a href="#">read more →</a></p> -->
                      </div>
                 </div>
            </div>     
            
            <div class="col-md-3 text-center">
                 <div class="services-box-3">
                      <i class="icon-picons-brain-2"><i class="circle-border"></i></i>
                      <div class="content">
                           <h3>Human</h3>
                           <p>By subordinating the work system to the people we have a far more valuable system than if we were to treat people as parts of a machine.</p>
                           <!-- <p><a href="#">read more →</a></p> -->
                      </div>
                 </div>
            </div>

             <div class="col-md-3 text-center">
                 <div class="services-box-3">
                      <i class="icon-picons-bulb"><i class="circle-border"></i></i>
                      <div class="content">
                           <h3>Emergent</h3>
                           <p>We move forward through short experiments with courageous feedback. Ideas grow, becoming things that adapt and sometimes that die. We become stronger, evolving and adapting, through the process.</p>
                           <!-- <p><a href="#">read more →</a></p> -->
                      </div>
                 </div>
            </div> 
            
             <div class="col-md-3 text-center">
                 <div class="services-box-3">
                      <i class="icon-picons-plant"><i class="circle-border"></i></i>
                      <div class="content">
                           <h3>Ecosystem</h3>
                           <p>We apply the network effect - by actively growing ourselves and the networks of people around us we slowly raise our whole community, and ultimately our whole country, continent and world.</p>
                           <!-- <p><a href="#">read more →</a></p> -->
                      </div>
                 </div>
            </div> 
            
        </div>
                                           
   </div>
</div>