<div class="banner-container revolution no-tmrg">
       <div class="banner-full">
            <ul>
           
                <li data-transition="fade"> <img src="{{ site.url }}/images/slider/slider-bg1.jpg" alt="" />
                  <div class="caption sfr lower" 
                       data-x="180" 
                       data-y="330" 
                       data-speed="600" 
                       data-start="800" 
                       data-easing="Sine.easeOut">Your process is less important</div>
                       
                  <div class="caption sfr upper" 
                       data-x="180" 
                       data-y="380" 
                       data-speed="600" 
                       data-start="1200" 
                       data-easing="Sine.easeOut">Than your process<br>for improving it</div>
                       
                  <!--<div class="caption sfr" 
                       data-x="480" 
                       data-y="580" 
                       data-speed="600" 
                       data-start="1400" 
                       data-easing="Sine.easeOut"><a class="btn btn-white-brd" href="#" target="_self">Purchase Now <i class="arrow_right">&rarr;</i></a></div>-->
                </li>
                
                <!--<li data-transition="fade"> <img src="{{ site.url }}/images/slider/slider-bg2.jpg" alt="" />
                  <div class="caption sfb lower" 
                       data-x="10" 
                       data-y="340" 
                       data-speed="1000" 
                       data-start="800" 
                       data-easing="Sine.easeOut">Get ready to showcase</div>
                       
                  <div class="caption sfb upper" 
                       data-x="10" 
                       data-y="400" 
                       data-speed="1000" 
                       data-start="1200" 
                       data-easing="Sine.easeOut">Amazing Work using Blend<br>
        
                       Responsive Template</div>
                       
                  <div class="caption sfb lower" 
                       data-x="10" 
                       data-y="550" 
                       data-speed="1000" 
                       data-start="1600" 
                       data-easing="Sine.easeOut">We help grow your business with creative ideas & innovation</div>
                </li>
                
                <li data-transition="fade"> <img src="{{ site.url }}/images/slider/slider-bg3.jpg" alt="" />
                   <div class="caption sfb lower" 
                       data-x="center" 
                       data-y="330" 
                       data-speed="1000" 
                       data-start="800" 
                       data-easing="Sine.easeOut">Say hello to Blend</div>
                       
                  <div class="caption sfb upper" 
                       data-x="center" 
                       data-y="380" 
                       data-speed="1000" 
                       data-start="1200" 
                       data-easing="Sine.easeOut" style="text-align:center;">Some badass support team <br>around 
                        to help you</div>
                       
                  <div class="caption sfb" 
                       data-x="center"  
                       data-y="530" 
                       data-speed="1000" 
                       data-start="1400" 
                       data-easing="Sine.easeOut"><a class="btn btn-white-brd" href="#" target="_self">Learn more <i class="arrow_right">&rarr;</i></a> &nbsp;&nbsp; 
                                                  <a class="btn" href="#" target="_self">Purchase Now <i class="arrow_right">&rarr;</i></a></div>
                </li> -->
          </ul>
          <div class="tp-bannertimer tp-bottom"></div>
      </div>
        <!-- /.banner --> 
  </div>