<div class="bg-white">
    <div class="social-nav">
         <a href="#" class="twitter-alt"><i class="icon-twitter"></i>
            <div class="f-element dontHide">         
                 <div class="milestone-counter" data-perc="59"> 
	                 <span class="milestone-count highlight">35</span>
	                 <!-- <strong class="milestone-details">K</strong> -->
	                 <span class="follow">Tweets</span>
                 </div>
            </div>
         </a>
         <a href="#" class="facebook-alt"><i class="icon-facebook"></i>
            <div class="f-element dontHide">         
                 <div class="milestone-counter" data-perc="173"> <span class="milestone-count highlight">173</span><strong class="milestone-details">K</strong>
                 <span class="follow">Followers</span></div>
            </div>
         </a> 
         <a href="#" class="google-alt"><i class="icon-gplus"></i>
            <div class="f-element dontHide">         
                 <div class="milestone-counter" data-perc="25"> <span class="milestone-count highlight">25</span><strong class="milestone-details">K</strong>
                 <span class="follow">Visited</span></div>
            </div>
         </a> 
         <a href="#" class="linkedin-alt"><i class="icon-linkedin"></i>
            <div class="f-element dontHide">         
                 <div class="milestone-counter" data-perc="299"> <span class="milestone-count highlight">299</span><strong class="milestone-details">K</strong>
                 <span class="follow">Signed up</span></div>
            </div>
         </a> 
         <a href="#" class="dribbble-alt"><i class="icon-dribbble"></i>
            <div class="f-element dontHide">         
                 <div class="milestone-counter" data-perc="141"> <span class="milestone-count highlight">141</span><strong class="milestone-details">K</strong>
                 <div class="follow">Members</div></div>
            </div>
         </a> 
    </div>
</div>