<div class="bg-white t-pad40 b-pad100">               
               
                    <div class="row">
                         
                         <div class="col-md-4 col-xs-offset-2 r-pad50">
                              <h3 class="heading b-mgr80">Our Dedicated Team</h3>
                              <div class="clearfix t-mgr10"></div>
                              <div class="services-box-2 left med">
                                   <img src="{{ site.url }}/images/placeholders/team.jpg" alt="">
                                   <div class="content">
                                        <h3>Kevin Trethewey - Senior Coach</h3>
                                        <p>Duis nec aliquet massa, sed dapibus mauris. Nulla vehicula nisl cum soluta nobis est eligendi. </p>
                                  		<div class="social-icons">
                                              <ul>
                                                  <li><a href="#" class="twitter-alt"><i class="icon-twitter"></i></a></li>
                                                  <li><a href="#" class="facebook-alt"><i class="icon-facebook"></i></a></li> 
                                                  <li><a href="#" class="google-alt"><i class="icon-gplus"></i></a></li>
                                                  <li><a href="#" class="linkedin-alt"><i class="icon-linkedin"></i></a></li>
                                              </ul>
                                       </div>
                                  </div>
                              </div>
                              <div class="services-box-2 left med active">
                                   <img src="{{ site.url }}/images/placeholders/team.jpg" alt="" class="small">
                                   <div class="content">
                                        <h3>Kevin Trethewey - Senior Coach</h3>
                                        <p>Duis nec aliquet massa, sed dapibus mauris. Nulla vehicula nisl cum soluta nobis est eligendi. </p>
                                  		<div class="social-icons">
                                              <ul>
                                                  <li><a href="#" class="twitter-alt"><i class="icon-twitter"></i></a></li>
                                                  <li><a href="#" class="facebook-alt"><i class="icon-facebook"></i></a></li> 
                                                  <li><a href="#" class="google-alt"><i class="icon-gplus"></i></a></li>
                                                  <li><a href="#" class="linkedin-alt"><i class="icon-linkedin"></i></a></li>
                                              </ul>
                                       </div>
                                  </div>
                              </div>
                              <div class="services-box-2 left med">
                                   <img src="{{ site.url }}/images/placeholders/team.jpg" alt="" class="small">
                                   <div class="content">
                                        <h3>Kevin Trethewey - Senior Coach</h3>
                                        <p>Duis nec aliquet massa, sed dapibus mauris. Nulla vehicula nisl cum soluta nobis est eligendi. </p>
                                  		<div class="social-icons">
                                              <ul>
                                                  <li><a href="#" class="twitter-alt"><i class="icon-twitter"></i></a></li>
                                                  <li><a href="#" class="facebook-alt"><i class="icon-facebook"></i></a></li> 
                                                  <li><a href="#" class="google-alt"><i class="icon-gplus"></i></a></li>
                                                  <li><a href="#" class="linkedin-alt"><i class="icon-linkedin"></i></a></li>
                                              </ul>
                                       </div>
                                  </div>
                              </div>
                              
                         </div>
                         <div class="col-md-6">
                              <img src="{{ site.url }}/images/img-imac-hom.png" alt="">                                                 
                         </div>
                         
                    </div>
              
          </div>