<div class="bg-white">
    <div class="container pad-container">
         <div class="row col-md-12 t-mgr30 text-center">
                 <h2 class="heading">What People Say About Us</h2>
          		 <p class="h-sub">We think we are onto something great with Driven. Here's what other people have to say about us...</p>
      </div>
         <div class="clearfix"></div>
         <div class="row">                         
              <div class="col-md-12 b-mgr20 t-mgr30">         	  
                  <div class="owl-testimonials owl-carousel">

                    {% for t in site.data.testimonials %}

                       <div class="item"> 
                            <div class="testimonials">	
                            	 							
                              <p>{{ t.testimonial }}</p>
                                 <div class="clearfix t-mgr10"></div>
                                 <img src="{{ site.url }}/images/testimonials/{{ t.img }}" alt="" >
                              <h2> {{ t.name }} </h2>
                            </div>
                       </div>

                    {% endfor %}

                   </div>	
              </div>
          </div>
    </div>
</div>