<div class="bg-gray t-mgr30">
              
                <div class="row">
                   <div class="col-sm-6 col-xs-offset-1 pad-container r-pad120">
                        
                          <div class="row">                          
                               <h3 class=" heading b-mgr20">What we're doing</h3>
                             <p style="margin-top:-10px;">There's always something interesting happening in Driven...</p>
                          </div>
                          
                          <div class="row t-mgr30">
                               <div class="services-box-2 b-mgr30 b-pad20 brd-bottom">
                                   <i class="icon-picons-bubble-comment"></i>
                                   <div class="content">                                      
                                        <h3><a href="#" class="dark">Kevin Trethewey will be presenting <a href="http://agile2015.sched.org/event/f8a8aa5b7f2a11446accf21ed7f19454?iframe=no&w=&sidebar=yes&bg=no#.VVWkzZPzpP0">the Spine Model</a> at Agile 2015 in Washington DC this August.</a></h3>
                                        <p class="fw600" style="margin-top:-10px;">Published on 19 Jun, 2015 - Kevin</p>
                                   </div>
                                </div>

                                <div class="services-box-2 b-mgr30 b-pad20 brd-bottom">
                                   <i class="icon-picons-bubble-comment"></i>
                                   <div class="content">                                      
                                        <h3><a href="#" class="dark">Theo Bohnen and Terence Kruger will be presenting <a href="http://agileafrica.jcse.org.za/proposal/how-deal-conflict-agile-team">"How To Deal With Conflict In An Agile Team?"</a> at Agile Africa 2015.</a></h3>
                                        <p class="fw600" style="margin-top:-10px;">Published on 19 Jun, 2015 - Kevin</p>
                                   </div>
                                </div>
                                
                                <div class="services-box-2 b-mgr30 b-pad20 brd-bottom">
                                   <i class="icon-picons-bubble-comment"></i>
                                   <div class="content">                                      
                                        <h3><a href="#" class="dark">Janco Wolmarans will be co-presenting <a href="http://agileafrica.jcse.org.za/proposal/real-agile-quality">"Real Agile Quality"</a> at Agile Africa 2015.</a></h3>
                                        <p class="fw600" style="margin-top:-10px;">Published on 19 Jun, 2015 - Kevin</p>
                                   </div>
                                </div>

                                <div class="services-box-2 b-mgr30 b-pad20 brd-bottom">
                                   <i class="icon-picons-bubble-comment"></i>
                                   <div class="content">                                      
                                        <h3><a href="#" class="dark">Mark Pearl will be presenting <a href="http://agileafrica.jcse.org.za/proposal/natural-order-progression-adopting-agile-technical-practices-delivering-working-software">"The Natural Order Of Progression For Adopting Agile Technical Practices"</a> at Agile Africa 2015.</a></h3>
                                        <p class="fw600" style="margin-top:-10px;">Published on 19 Jun, 2015 - Kevin</p>
                                   </div>
                                </div>

                          </div>
                        
                     </div>
                      <div class="col-sm-5"><img src="{{ site.url }}/images/team/group.jpg" style="width:100%;" alt=""></div>
                </div>
           
           </div>