<div class="bg-gray">
           		
                <div class="row">
                	 <div class="col-sm-6 col-xs-offset-1 pad-container r-pad50">
                     	  <h3 class="heading t-mgr60">Great Design &amp; Incredible Features</h3>
                          <p class="lead r-pad50">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. Etiam sit amet fringilla lacus. Pellentesque suscipit ante at ullamcorper pulvinar neque porttitor.</p>
                                                                    
                          <div class="row r-pad50">
                          	   <div class="col-sm-12"><h3 class="heading t-mgr60">Show Off Our Skills</h3></div>
                               <div class="col-lg-6 t-mgr20">
                              	    <p class="lead ">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. Duis autem vel eum iriure dolor in hendrerit in vulputate velit. ellen 	tesque suscipit ante at ullamcorper pulvinar neque porttitor.</p>
                               </div>
                              
                               <div class="col-lg-6 t-mgr30">
                                    <h6 class="upper fw600">Project Completion</h6>
                                    <div class="progress bg-white" data-progress="95">
                                         <div class="bar" style="width: 404.25px;"><small>95%</small></div>
                                    </div>
                                    <h6 class="upper fw600">Skills &amp; Experiences</h6>
                                    <div class="progress bg-white" data-progress="65">
                                         <div class="bar" style="width: 279.75px;"><small>65%</small></div>
                                    </div>
                                    <h6 class="upper fw600">Company Growth Last Year</h6>
                                    <div class="progress bg-white" data-progress="77">
                                         <div class="bar" style="width: 329.55px;"><small>77%</small></div>
                                    </div>
                                    <h6 class="upper fw600">Payment to Due</h6>
                                    <div class="progress bg-white" data-progress="40">
                                         <div class="bar" style="width: 176px;"><small>40%</small></div>
                                    </div>
                              </div>
                          </div>
                     </div>
                     	<div class="col-sm-5"><img src="{{ site.url }}/images/placeholders/ph03.jpg" style="width:100%;" alt=""></div>
                </div>
           
           </div>