<div class="bg-gray t-mgr30">
              
                <div class="row">
                   <div class="col-sm-6 col-xs-offset-1 pad-container r-pad120">
                        
                          <div class="row">                          
                               <h3 class=" heading b-mgr20">What we're doing</h3>
                             <p style="margin-top:-10px;">Lorem ipsum dolor sit amet, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                          </div>
                          
                          <div class="row t-mgr30">
                               <div class="services-box-2 b-mgr30 b-pad20 brd-bottom">
                                   <i class="icon-picons-pencil"></i>
                                   <div class="content">                                      
                                        <h3><a href="#" class="dark">Lorem ipsum dolor sit amet, sed do eiusmod tempor incididunt.</a></h3>
                                        <p class="fw600" style="margin-top:-10px;">Published on 14 Feb, 2014 - Susan</p>
                                   </div>
                                </div>
                                <div class="services-box-2 b-mgr30 b-pad20 brd-bottom">
                                     <i class="icon-picons-clock-2"></i>
                                     <div class="content">
                                          <h3><a href="#" class="dark">Lorem ipsum dolor sit amet, sed do eiusmod tempor incididunt.</a></h3>
                                          <p class="fw600" style="margin-top:-10px;">Published on 18 March, 2015 - Admin</p>
                                     </div>
                                </div>
                                <div class="services-box-2">
                                     <i class="icon-picons-book"></i>
                                     <div class="content">
                                          <h3><a href="#" class="dark">Lorem ipsum dolor sit amet, sed do eiusmod tempor incididunt.</a></h3>
                                          <p class="fw600" style="margin-top:-10px;">Published on 14 Feb, 2014 - Susan</p>
                                     </div>
                                </div>
                          </div>
                        
                     </div>
                      <div class="col-sm-5"><img src="{{ site.url }}/images/placeholders/img-ed01.jpg" style="width:100%;" alt=""></div>
                </div>
           
           </div>