<div class="bg-white">
    <div class="container pad-container">
         <div class="row col-md-12 t-mgr30 text-center">
                 <h2 class="heading">What People Say About Us</h2>
          		 <p class="h-sub">Lorem ipsum dolor consectetur  elit sed do eiusmod tempor incididunt ut labore.</p>
      </div>
         <div class="clearfix"></div>
         <div class="row">                         
              <div class="col-md-12 b-mgr20 t-mgr30">         	  
                  <div class="owl-testimonials owl-carousel">
                       <div class="item"> 
                            <div class="testimonials">	
                            	 							
                              <p>Everything was thought out for your future needs. Plus, Evolve support is the best support I've ever experienced, I've receive and the author going out of their way to make amendments to the Theme to suit my needs. Everything was thought out for your future needs. Plus, Evolve support is the best support I've ever experienced, I've receive and the author going out of their way to make amendments to the Theme to suit my needs - thank you!</p>
                                 <div class="clearfix t-mgr10"></div>
                                 <img src="/images/placeholders/happy-clients-01.jpg" alt="" >
                              <h2> Susan Anthony - CEO </h2>
                            </div>
                       </div>
                       <div class="item"> 
                            <div class="testimonials">								
                                 <p> “ Plussone was thought out for your future needs. Plus, Plussone support is the best support I've ever experienced, I've receive and the author going out of their way to make amendments to the Theme to suit my needs, I've receive and the author going out of their way to make amendments to the Theme to suit my needs  - thank you! ” </p>
                                 <div class="clearfix t-mgr10"></div>
                                 <img src="/images/placeholders/happy-clients-02.jpg" alt="">
                              <h2> James Walter - CFO </h2>
                            </div>
                       </div> 
                       <div class="item"> 
                            <div class="testimonials">								
                                 <p> “ Splash was thought out for your future needs. Plus, Evolve support is the best support I've ever experienced, I've receive and the author going out of their way to make amendments to the Theme to suit my needs - thank you! ” </p>
                                 <div class="clearfix t-mgr10"></div>
                                 <img src="/images/placeholders/happy-clients-03.jpg" alt="">
                              <h2> Chris Roger - CTO </h2>
                            </div>
                       </div>                                
                   </div>	
              </div>
          </div>
    </div>
</div>