<div class="bg-gray t-pad40 b-pad30">
    
    <div class="container">
        <!--
         <div class="row col-md-12 text-center b-pad30">
              <h2 class="heading">The Driven Team</h2>
              <p class="h-sub">We're not big on titles. Expect the unexpected.</p>
         </div>

        -->
        
    </div>

<div>

<div class="bg-gray t-pad40 b-pad30">
		
    <div class="container">

         {% for g in site.data.people-headshots %}
         <div class="row b-mgr40">
         	{% for p in g.people %}
         		<div class="col-sm-3">
					   <div class="team-box team-box-animated">
        				<div class="inner">
                             <div class="front">
                                  <img src="/images/people/{{ p.id }}-n.jpg" alt="">
                                  <h3>{{ p.name }}</h3>
                                  <span>{{ p.title }}</span>
                             </div>
   							 <div class="back">
                                  <h3>{{ p.name }}</h3>
                                  <span>{{ p.title }}</span>
                                  <p>
              {% capture team_profile %}{{'/people/'}}{{p.id}}{{'.txt'}}{% endcapture %}
              {% capture team_file %}{{p.id}}{{'.txt'}}{% endcapture %}
              {% for static_file in site.static_files %}
    	         	{% if static_file.path == team_profile %}
    	         		{% include_relative {{team_file}} %}
    	         	{% endif %}
    	         {% endfor %}
                                  </p>
                                 <div class="social-icons text-left">
                                      <ul>

{% if p.twitter != nil and p.twitter.to_s != '' %}
<li><a href="{{ p.twitter }}" class="twitter-alt" target="_blank"><i class="icon-twitter"></i></a></li>
{% endif %}
{% if p.facebook != nil and p.facebook.to_s != '' %}
<li><a href="{{ p.facebook }}" class="facebook-alt" target="_blank"><i class="icon-facebook"></i></a></li> 
{% endif %}
{% if p.google != nil and p.google.to_s != '' %}
<li><a href="{{ p.google }}" class="google-alt" target="_blank"><i class="icon-gplus"></i></a></li>
{% endif %}
{% if p.linkedin != nil and p.linkedin.to_s != '' %}
<li><a href="{{ p.linkedin }}" class="linkedin-alt" target="_blank"><i class="icon-linkedin"></i></a></li>
{% endif %}

                                      </ul>
                                 </div>
   							 </div>
						   </div>
					  </div>
				 </div>
         	{% endfor %}
         </div>
         {% endfor %}

   </div>

</div>