
<!-- Driven -->
<div class="section-image section-image-2know" data-stellar-background-ratio="0.5">
</div>

<div class="section-light">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- <div class="pull-right">
					<img src="images/logos/driven-med.png" />
					<img src="images/newsite-logo.png" />
				</div> -->
				<div class="tabpanel" role="tabpanel">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a href="#2know-purpose" aria-controls="2know-purpose" role="tab" data-toggle="tab">Purpose</a></li>
						<li role="presentation"><a href="#2know-principles" aria-controls="2know-principles" role="tab" data-toggle="tab">Principles</a></li>
					</ul>
				
					<!-- Tab panes -->
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="2know-purpose">
							<p class="text-justify">
							<h4>Why we do it</h4>
							A platform to easily share what we have learned.
							<h4>What's in it for others</h4>
							Through the work that is done by Driven we explore and learn many things. Driven2Know is a way we get to share that.kjk
							</p>
						</div>
						<div role="tabpanel" class="tab-pane" id="2know-principles">
							<ul>
								<li>Raise the quality of interactions and the density of the network of the local software communities</li>
								<li>Help people with the aptitude but not the means to learn to make software</li>
							</ul>	
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

