
{% comment eg. Software:{{ site.url }}/software;Level2:/level2 %}
{% endcomment %}

{% assign crumb_links = include.crumbs | split: ';' %}

<div class="bg-gray">          	   
   <div class="container">
   		<div class="row col-md-12 text-right">
        	 <p>
        	 	<a href="{{site.url}}/"> Home</a> &nbsp;&nbsp;
{% for l in crumb_links %}
	{% assign crumb_details = l | split: ':' %}
		<i class="arrow_right">&rarr;</i> &nbsp;&nbsp;
		{% if crumb_details[1] == nil %}
		<span class="active">{{ crumb_details[0] }}</span>
		{% endif %}
		{% if crumb_details[1] != nil %}
		<a href="{{ crumb_details[1] }}"> {{ crumb_details[0] }}</a> &nbsp;&nbsp;
		{% endif %}
{% endfor %}
             </p>
        </div>
   </div>
</div>