
<section id="driven">
<div class="section-image section-image-driven" data-stellar-background-ratio="0.5">
</div>

<div class="section-light">
	<div class="container">
		<div class="row">
			<div class="col-md-9 section-watermark section-watermark-driven">
				<img src="images/newsite-logo.png" class="section-logo" />
				<div class="tabpanel" role="tabpanel">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Purpose</a></li>
					</ul>
				
					<!-- Tab panes -->
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="home">
							<p class="text-justify">
							Create and support an organisational ecosystem under which systems and people can meet each other's needs. 
							Provide resilience, so that parts of the ecosystem can grow, live and die without affecting the whole.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-2 strip">
				<h4>Principles</h4>
				<ul>
					<li>Ensure long-term sustainable, ecologically friendly business models</li>
					<li>Support an ecology that enables people to discover and become the best they can be</li>
				</ul>	
			</div>
			<div class="col-md-1">
			</div>
		</div>
	</div>
</div>
</section>
