 <script type='text/javascript'>
                $(document).ready(function() {
                    $(".tweet").tweet({
                        username: "drivensoftware",
                        list: "driven",
                        join_text: "auto",
                        avatar_size: 32,
                        count: 6,
                        loading_text: "Loading Tweets...",
                        auto_join_text_default: "",
                        auto_join_text_ed: "",
                        auto_join_text_ing: "",
                        auto_join_text_reply: "",
                        auto_join_text_url: ""
                    });
                });
 </script>

<div class='feature_box' id='feature_right'>
    <h5>News & Updates</h5>
    <div class="tweet"></div>
</div>