
<section id="feedback" class="section-dark">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>{{ include.title }}</h2>
				<div class="hr hr-short hr-center">
					<span class="hr-inner">
						<span class="hr-inner-style"></span>
					</span>
				</div>
				<ul>
					{% for feed in site.data.feedback[include.type] %}
					<li>
						<img src="{{ site.url }}{{ feed.pic }}" />
						<p>{{ feed.comment }}</p>
						<h4>{{ feed.name }}</h4>
						<span>{{ feed.title }}
							{% if feed.companyurl %}
								- <a href="{{ feed.companyurl }}">{{ feed.company }}</a>
							{% else %}
								- {{ feed.company }}
							{% endif %}
						</span>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</section>
