<div id="footer" class="container">
  <div class="content">

      <div class="clear"></div>

      <div id="details" class="grid_12">

        <!--<div id="base"><img src="/images/base.png" alt="Get Driven"></div> -->

        <div  class="grid_3">
          <h3><a href="/About">About Us</a></h3><ul>
            <li> <a href="/History.html">Our History</a></li>
            <li>  <a href="/People.html">Our People</a></li>
            <li>  <a href="/OurApproach.html">Our Approach</a></li>
          </ul>
        </div>
        <div  class="grid_3">

          <h3>Client Portfolio</h3>
          <ul>
            <li>  <a href="/ClientPorfolios.html">View All</a></li>
          </ul>
        </div>
        <div  class="grid_3">

          <h3>What we do</h3>
          <ul>
            <li> <a href="/ImmersiveCoaching.html">Immersive Coaching</a></li>
            <li> <a href="/Consulting.html">Consulting</a></li>
            <li> <a href="/Training.html">Training</a></li>
          </ul>
        </div>
        <div  class="grid_3">

          <h3>Resources</h3>
          <ul>
            <li>  <a href="/TrainingMaterial.html">Training Material</a></li>
            <li>  <a href="/Blogs.html">Blogs</a></li>
            <li>  <a href="/Podcasts.html">Podcasts</a></li>
            <li>  <a href="/OpenSourceProjects.html">Open Source Projects</a></li>

          </ul>
        </div>
      </div>
      <div class="clear"></div>

  </div>
</div>