<div id="footer" class="container">
  <div class="content">

      <div class="clear"></div>

      <div id="details" class="grid_12">

        <!--<div id="base"><img src="/images/base.png" alt="Get Driven"></div> -->

        <div  class="grid_3">
          <h3><a href="/pages/About">About Us</a></h3><ul>
            <li> <a href="/pages/About/History">Our History</a></li>
            <li> <a href="/pages/About/People">Our People</a></li>
            <li> <a href="/pages/About/OurApproach">Our Approach</a></li>
          </ul>
        </div>
        <div  class="grid_3">

          <h3><a href="/pages/ClientPortfolio">Client Portfolio</a></h3>
          <ul>
            <li>  <a href="/pages/ClientPortfolio">View All</a></li>
          </ul>
        </div>
        <div  class="grid_3">

          <h3><a href="/pages/WhatWeDo">What we do</a></h3>
          <ul>
            <li> <a href="/pages/WhatWeDo/ImmersiveCoaching">Immersive Coaching</a></li>
            <li> <a href="/pages/WhatWeDo/Consulting">Consulting</a></li>
            <li> <a href="/pages/WhatWeDo/Training">Training</a></li>
          </ul>
        </div>
        <div  class="grid_3">

          <h3><a href="/pages/Resources">Resources</a></h3>
          <ul>
            <li> <a href="/pages/Resources/TrainingMaterial">Training Material</a></li>
            <li> <a href="/pages/Resources/Blogs">Blogs</a></li>
            <li> <a href="/pages/Resources/Podcasts">Podcasts</a></li>
            <li> <a href="/pages/Resources/OpenSourceProjects">Open Source Projects</a></li>

          </ul>
        </div>
      </div>
      <div class="clear"></div>

  </div>
</div>