<footer class="footer b-pad0">
  <div class="container">
         
       <div class="row">                  
           <div class="col-sm-4 t-pad20 ">
                <div class="widget r-pad30">
                     <h3 class="widget-title"><a class="logo" href="index.html"><img src="{{ site.url }}/images/logo-bordered.png" alt=""></a>&nbsp;</h3>
                     <div class="clearfix"></div>
                     <p>Registration number: 2008/064246/23<p>
                    <p> Postal address:<br />
                        Postnet Suite 343<br />
                        Private Bag X43<br />
                        2157<br />
                        Vat Number: 4060247477.</p>
                     <p class="bold">If you need to get hold of the Driven Alliance team on any other matters, please contact us via <a href="mailto:info@drivenalliance.com">info@drivenalliance.com</a></p>
                </div>
          </div>                      
          <div class="col-sm-4 t-pad50 ">
                <div class="widget r-pad30">
                     <h4 class="fw600 b-mgr40">Latest Posts</h4>
                     <p><a href="#">Most important things are not things - <span class="bold">December 23</span> </a></p>
                     <hr>                                     
                     <p><a href="#">Try hard you will get success - <span class="bold">December 18</span> </a></p>
                     <hr>                                     
                     <p><a href="#">Having a plan feels good - <span class="bold">November 29</span> </a></p>
              </div>
          </div>                      
          <div class="col-sm-4 t-pad50 ">
                <div class="widget r-pad30">
                     <h4 class="fw600 b-mgr40">Newsletter Signup</h4>
                     <div class="clearfix"></div>
                     <p>Keep in touch with what is happening in and around Driven:</p>
                    
                        <form method="post" id="contact-form" action="#"> 
                              <input name="email" type="text" value="" placeholder="E-mail Address" class="alt">
                              <input type="submit" class="btn-submit alt" value="Sign up">
                              <div class="clearfix"></div>
                        </form>
                     <p class="small">* We don't share your information with anyone. <br> Check out our <a href="#">Privacy Policy</a> for more details. </p>
                </div>
          </div>                  
       </div>
       
  </div>           
</footer>
<div class="bg-white">                        
<div class="container t-pad20 b-pad10">
       
    <div class="col-md-6 t-pad10">
         <p class="bold">(c) 2015 Driven Alliance. All rights reserved.</p>
    </div>
    <div class="col-md-6 text-right">
         <div class="social-icons">
              <ul>
                  <li><a href="https://twitter.com/DrivenAlliance" class="twitter-alt" title="" data-rel="tooltip" data-placement="top" rel="tooltip" data-original-title="Twitter" target="_blank"><i class="icon-twitter"></i></a></li>
                  <!-- <li><a href="#" class="facebook-alt" title="" data-rel="tooltip" data-placement="top" rel="tooltip" data-original-title="Facebook"><i class="icon-facebook"></i></a></li> 
                  <li><a href="#" class="google-alt" title="" data-rel="tooltip" data-placement="top" rel="tooltip" data-original-title="Google Plus"><i class="icon-gplus"></i></a></li> -->
                  <li><a href="https://www.linkedin.com/company/driven-alliance?trk=top_nav_home" class="linkedin-alt" title="" data-rel="tooltip" data-placement="top" rel="tooltip" data-original-title="Linkedin" target="_blank"><i class="icon-linkedin"></i></a></li>
                  <!-- <li><a href="#" class="dribbble-alt" title="" data-rel="tooltip" data-placement="top" rel="tooltip" data-original-title="Dribbble"><i class="icon-dribbble"></i></a></li> -->
              </ul>
         </div>
    </div>
       
</div>      
</div>