<script type="text/javascript">


    // initialise plugins
    jQuery(function() {
        jQuery('ul.sf-menu').superfish();
    });


    $(document).ready(function() {
        $('ul.sf-menu').superfish({
            delay:       0,                            // one second delay on mouseout
            animation:   {opacity:'show',height:'show'},  // fade-in and slide-down animation
            speed:       'fast',                          // faster animation speed
            autoArrows:  false,                           // disable generation of arrow mark-up
            dropShadows: true                            // disable drop shadows
        });
    });

</script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-146968-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>


<div id="wrapper">

    <div id="header">
        <a href="/"><img alt="Driven Software" src="/images/header.jpg"></a>
    </div>

    <div id="navbar">
        
        <ul class="sf-menu">

            <li><a href="/" class="current">Home</a></li>

            <li><a>About Us</a>
                <ul>
                    <li><a href="/Pages/About/History">Our History</a></li>
                    <li><a href="/Pages/About/Approach">Our Approach</a></li>
                    <li><a href="/Pages/About/People">Our People</a></li>
                </ul>
            </li>
            <li><a>Offering</a>
                <ul>
                    <li><a href="/Pages/Offering/Services">Professional Services</a></li>
                </ul>
            </li>
            <li><a>Training</a>
                <ul>
                   <li><a href="/Pages/Training/driven2know">driven2know</a></li>
                </ul>
            </li>
			
            <li><a>Podcast</a>
				<ul>
                   <li><a href="/Pages/Podcast/driven2distraction">driven2distraction</a></li>
                </ul>
			</li>
            <li><a>Resources</a>

                <ul>
                    <li><a href="/Pages/Resources/Opinion">Blogs & Articles</a></li>
                    <li><a href="/Pages/Resources/Presentations">Presentations</a></li>
					<li><a href="/Pages/Resources/OpenSource">Open Source</a></li>
                </ul>
            </li>
            <li><a id="contact" href="/Pages/ContactUs">Contact Us</a>
            </li>

        </ul>

    </div>


</div>
