
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-146968-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<!-- <div class="header-nav basic yamm nobg sticky" style="display: block;"> -->
<div class="header-nav basic yamm  set" style="display: block;">

    <div class="container">      
        <div class="basic-wrapper"> 
            <a class="btn mobile-menu right" data-toggle="collapse" data-target=".navbar-collapse"><i class="icon-menu-1"></i></a> 
            {% if page.section != null %}
            <a class="logo-white logo-section" href="/"><img src="/images/{{page.section}}/logo.png" alt=""></a>
            <a class="logo-dark logo-section-dark" href="/"><img src="/images/{{page.section}}/logo.png" alt=""></a>
            {% else %}
            <a class="logo-white" href="/"><img src="/images/logo.png" alt=""></a>
            <a class="logo-dark" href="/"><img src="/images/logo.png" alt=""></a>
            {% endif %}
        </div>  

        <div class="collapse navbar-collapse right">
            <ul class="nav navbar-nav">
                <li class="dropdown"><a href="{{ site.url }}/" class="white">Home</a>
                </li>

                <li class="dropdown"><a href="{{ site.url }}/systems" class="dropdown-toggle white">Systems</a>
                </li>
                
                <li class="dropdown"><a href="{{ site.url }}/software" class="dropdown-toggle white">Software</a>
                </li>

                <li class="dropdown"><a href="{{ site.url }}/studio" class="dropdown-toggle white">Studio</a>
                </li>

                <li class="dropdown"><a href="{{ site.url }}/spark" class="dropdown-toggle white">Spark</a>
                </li>
               
                <li class="dropdown"><a href="{{ site.url }}/people" class="white">People</a>
                </li>

            </ul>
        </div>
    </div>
</div>