<script type="text/javascript">


    // initialise plugins
    jQuery(function() {
        jQuery('ul.sf-menu').superfish();
    });


    $(document).ready(function() {
        $('ul.sf-menu').superfish({
            delay:       0,                            // one second delay on mouseout
            animation:   {opacity:'show',height:'show'},  // fade-in and slide-down animation
            speed:       'fast',                          // faster animation speed
            autoArrows:  false,                           // disable generation of arrow mark-up
            dropShadows: true                            // disable drop shadows
        });
    });

</script>

<div id="wrapper">

    <div id="header">
        <a href="/"><img alt="Driven Software" src="/images/header.jpg"></a>
    </div>

    <div id="navbar">
        
        <ul class="sf-menu">

            <li><a id="home" href="/" class="current">Home</a></li>

            <li><a id="about" href="/Pages/About">About Us</a>
                <ul>
                    <li><a href="/Pages/About/History">Our History</a></li>
                    <li><a href="/Pages/About/People">Our People</a></li>
                    <li><a href="/Pages/About/Approach">Our Approach</a></li>
                    <li><a href="/Pages/About/Clients">Our Clients</a></li>
                </ul>
            </li>
            <li><a id="coaching" href="/Pages/Coaching">Coaching</a>
                <ul>
                    <li><a href="/Pages/Coaching/Immersive">Immersive Coaching</a></li>
                </ul>
            </li>
            <li><a id="services" href="/Pages/Training">Training</a>
                <ul>
                   <li><a href="/Pages/Training/Git">Getting to Grips with Git</a></li>
                </ul>
            </li>
            <li><a id="development" href="/Pages/Development">Development</a>
                <!--<ul>
                    <li><a href="/Pages/Products/OpenSource">Open Source</a></li>
                    <li><a href="/Pages/Products/Incubation">Incubation</a></li>
                </ul>-->
            </li>
            <li><a id="resources" href="/Pages/Resources">Resources</a>
                <!--
                <ul>
                    <li><a href="/Pages/Resources/TrainingMaterial">Training Material</a></li>
                    <li><a href="/Pages/Resources/Blogs">Blogs</a></li>
                    <li><a href="/Pages/Resources/Podcasts">Podcasts</a></li>
                    <li><a href="/Pages/Resources/OpenSourceProjects">Open Source</a></li>

                </ul>
                -->
            </li>
            <li><a id="contact" href="/Pages/ContactUs">Contact Us</a>
            </li>

        </ul>

    </div>


</div>
