<h1>Welcome to Driven Software</h1>
<div style="float: right; width:200px; margin: 0px; padding: 0px;">
    <img src="/images/content/newandimproved.png">
</div>
<div style="margin-bottom:100px">Our new site is under active development, so please check back regularly for updates and new content!</div>
<div style="margin-top:180px;width:100%">
<h1>Getting to Grips with Git training course</h1>
<img src="/images/git/shaft.png" style="float:right; width: 300px"/>
<p style="margin-top:30px"> <ul><li>Tired of checking code into SVN that's only half done? Not able to branch and merge easily?</li><li> Annoyed that the senior developers cannot check the junior developers' code before allowing it into the version control?</li><li> Wanting more control over your source control? Tired of this old frustrating way of working?</li><ul></p>
    <p> <a href="/Pages/WhatWeDo/GitTraining/">Getting to Grips with Git is for you!</a></p>
</div>
<br>
<br>
        
