<h2>What's happening</h2>
<p>You can keep track on...

	<ul>
        <li><a href="http://www.facebook.com/drivensoftware">Facebook</a></li>
		<li><a href="http://www.twitter.com/drivensoftware">Twitter</a></li>
		<li><a href="http://www.github.com/drivensoftware">Github</a></li>
	</ul>
</p>

<h2>driven2distraction</h2>
The first (and only) South African developer podcast...
<div style=" margin: 10px; padding: 5px;">
	<a href="http://www.driven2distraction.co.za"><img src="/images/content/distraction-small.png"></a>
</div>
<hr>	
<h2>Join the team</h2>
<p style="margin-top:20px">
Passionate about software development? Looking for a new challenge? We are looking for experienced professionals to join the Driven team in Johannesburg.
<p><a href="/Pages/ContactUs">Contact us</a> today!</p>
</p>