<h1>Welcome to Driven Software</h1>
<br>
<div style="margin-bottom:20px">Our new site is under active development, so please check back regularly for updates and new content...</div>
<div style="width:100%">


<h2>Join the Driven Software team</h2>
<p style="margin-top:20px">

    <img src="/images/people/you.jpg" style="float:left; width: 100px; height:100px; margin-right:25px"/>

    Passionate about software development? Looking for a new challenge? We are looking for experienced professionals to join the Driven team in Johannesburg.
    <p><a href="/Pages/ContactUs">Contact us</a> today!</p>
</p>
    <br>
    <br>
    <br>

<h2>Getting to Grips with Git training course</h2>
<br>
<img src="/images/git/git.png" style="float:left; width:100px; height:100px; margin-right:25px"/>

    <p>Are you tired of...

        <ul>
	        <li>Half completed features in your source repository making it difficult to release new versions?</li>
	        <li>Being unable to branch and merge without a great deal of pain?</li>
	        <li>Being unable to have senior developers approve junior developers' code as part of your change control?</li>
            <li>Being unable to work commit, branch and merge whilst offline?</li>
        </ul>
    </p>

Then distributed version control is for you, and <a href="/Pages/Training/Git/">Getting to Grips with Git</a> is the answer!
    <br>
    <br>
    <br>

    <h2>The Driven2Distraction Podcast</h2>
    <div style=" margin: 10px; padding: 5px;">
        <a href="/Pages/KB/Distraction/"><img src="/images/content/distraction-small.png"></a>
    </div>


    </p>

</p>
</p>
</div>

