
<div class="bg-white">

    <div class="container pad-container b-mgr40">
         
    	<!-- projects filter -->                    
        <div class="filter" style="text-align:left;">
            <a href="#" class="filter active" data-filter="*">All</a>
            {% assign items_grouped = include.param | group_by: 'type' %}
            {% for g in items_grouped %}
            	<a href="#" class="filter" data-filter=".{{ g.name }}">{{ g.name }}</a>
            {% endfor %}
        </div>                    
        <!-- /projects filter -->
        
        <!-- projects grid -->
        <ul class="projects-grid-3 project-grid-gut hover-white hide-titles masonry" id="project-grid" style="position: relative; height: 780px;">

        {% assign items_ordered = include.param | sort: 'order' %}
        {% for i in items_ordered %}

<li class="project-item mix {{ i.type }}">
    <div data-rel="{{ i.type }}" data-title-id="img-01" rel="{{ i.type }}">
           <div class="project-img">
                <img src="{{ site.url }}/images/{{ i.img }}" alt="{{ i.title }}">
           </div>
           <div class="project-intro">
                <h3 class="project-title">{{ i.title }}</h3>
                <div class="project-descr">{{ i.desc }}</div>
           </div>
    </div>
</li>

        {% endfor %}
            
        </ul>
        <!-- / projects grid -->
    </div>

</div>