
<section id="software">
<div class="section-image section-image-software" data-stellar-background-ratio="0.5">
</div>

<div class="section-light">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<div class="tabpanel" role="tabpanel">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a href="#software-purpose" aria-controls="software-purpose" role="tab" data-toggle="tab">Purpose</a></li>
					</ul>
				
					<!-- Tab panes -->
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="software-purpose">
							<p class="text-justify">
								<h4>Why we do it</h4>
								For people who love developing software and want to grow and share their technical skills.
								<h4>What's in it for others</h4>
								By coding with people who are passionate about growing and sharing their technical skills the whole team is empowered to do great work.
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-2 strip">
				<h4>Principles</h4>
				<ul>
					<li>Own delivery - be a part of the system</li>
					<li>Never be a body shop</li>
				</ul>	
			</div>
			<div class="col-md-1">
			</div>
		</div>
	</div>
</div>
</section>
