
<!-- Driven -->
<div class="section-image section-image-studio" data-stellar-background-ratio="0.5">
</div>

<div class="section-light">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- <div class="pull-right">
					<img src="images/logos/driven-med.png" />
					<img src="images/newsite-logo.png" />
				</div> -->
				<div class="tabpanel" role="tabpanel">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a href="#studio-purpose" aria-controls="studio-purpose" role="tab" data-toggle="tab">Purpose</a></li>
						<li role="presentation"><a href="#studio-principles" aria-controls="studio-principles" role="tab" data-toggle="tab">Principles</a></li>
					</ul>
				
					<!-- Tab panes -->
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="studio-purpose">
							<p class="text-justify">
							<h4>Why we do it</h4>
							To use the combined strength of the Driven ecosystem to create profitable products from interesting ideas. To create a high functioning healthy team that coaches can take a coding sabbatical.
							<h4>What's in it for others</h4>
							Get to use great products that solve interesting problems.
							</p>
						</div>
						<div role="tabpanel" class="tab-pane" id="studio-principles">
							<ul>
								<li>Build directly for the market, not for clients</li>
								<li>Focus on ideas that are quick to market</li>
							</ul>	
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

