
<!-- Driven -->
<div class="section-image section-image-systems" data-stellar-background-ratio="0.5">
</div>

<div class="section-light">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- <div class="pull-right">
					<img src="images/logos/driven-med.png" />
					<img src="images/newsite-logo.png" />
				</div> -->
				<div class="tabpanel" role="tabpanel">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a href="#systems-purpose" aria-controls="systems-purpose" role="tab" data-toggle="tab">Purpose</a></li>
						<li role="presentation"><a href="#systems-principles" aria-controls="systems-principles" role="tab" data-toggle="tab">Principles</a></li>
					</ul>
				
					<!-- Tab panes -->
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="systems-purpose">
							<p class="text-justify">
							<h4>Why we do it</h4>
							For people who want to understand and solve problems that go beyond the code and want to understand 'how the work works'.
							<h4>What's in it for others</h4>
							Improve the understanding of the fundamental ways in which their personal, team and organisational systems behave and to work with them to build systems that meet their needs.
							</p>
						</div>
						<div role="tabpanel" class="tab-pane" id="systems-principles">
							<ul>
								<li>Never own delivery - don't become a part of the system</li>
								<li>Don't fix people, help them understand how to work on the system</li>
								<li>Large anchor clients with secure high-trust relationships</li>
							</ul>	
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

