
<img src="/images/content/cogs_small.jpg" style="float:left; margin-right:25px"/>
<h1>Welcome to Driven Software</h1>
<h4>"from cogs to craftsman"</h4>
<div class="title"><p>In today's corporate world we forget the craft behind developing software. Driven Software aims to inspire people from being merely a cog in a big machine towards being passionate, invigorated and agile about software development - remembering the true craftsmanship behind it all.</p>
<p>We invite you to join us on the journey towards re-energising yourself and your team - towards honing the art of software development.</p>

</div>
<br>
<hr>
