---
layout: new
title: Contact Us
permalink: /contact/index.html
---


{% include breadcrumb.html title='Contact Us' loc='<a href="/">Home</a> / Contact' %}

<section id="contact" class="section-light">
	<div class="container">
		<div class="row">
			<div class="col-md-6 text-center">
				<img src="/images/team/DSC_0789.JPG" with="360px" height="239px" />
			</div>
			<div class="col-md-6">
				<h3><span>Company Details</span><hr /></h3>
				<p>
					Registration number: 2008/064246/23
				</p>
				<p>
					Postal address:<br />
					Postnet Suite 343<br />
					Private Bag X43<br />
					2157<br />
				</p>
				<p>
					Vat Number: 4060247477 
				</p>
				<p>
				If you need to get hold of the Driven Software team on any other matters, please contact us via <a href="mailto:info@drivensoftware.com">info@drivensoftware.com</a> 
				</p>
				<h3><span>Our Specializations</span><hr /></h3>
				<ul>
					<li>Coaching</li>
					<li>Workshops</li>
				</ul>
			</div>
		</div>
		<hr />
		<div id="team" class="row">
			<div class="col-md-12">
				<h2 class="text-center text-caps">Meet the team</h2>
				<p class="text-center">Our people work hand-in-hand with our client's teams. They have the desire to teach and willingness to learn with those around them.</p>
			</div>
			<ul>
				{% for p in site.data.team %}
				<li class="col-md-3">
					<img src="{{ site.url }}{{ p.pic }}" />
					<span class="overlay">
						<ul>
							<li>
								<span class="glyphicon-label">Linked In</span>
								<span class="glyphicon glyphicon-star"></span>
							</li>
						</ul>
					</span>
					<div class="name">{{ p.name }}</div>
					<div class="title">{{ p.title }}</div>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>

{% include feedback.html title='What others say about us' type='contact' %}
