---
layout: newIndex
title: Workshops
permalink: /workshops/index.html
---

{% include breadcrumb.html title='Workshops' loc='<a href="/">Home</a> / Workshops' %}

<section id="workshops" class="section-light">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<img src="{{ site.url }}/images/workshops/IMG_9740.jpg" />
			</div>
			<div class="col-md-6">
				<div class="list">
					<ul>
						<li>
							<span class="glyphicon glyphicon-globe"></span>
							<h3><a href="#">Introduction to Agile - A business perspective</a></h3>
							<p>This workshop is aimed at enlightening business users and people regarding the principles of Agile and Scrum. By applying these principles within their working environments, it is our belief that they will better understand their interactions with their developers, and also implement these effective techniques in their own work towards becoming more effective at delivering value within their corporate environment.</p>
						</li>
						<li>
							<span class="glyphicon glyphicon-ok"></span>
							<h3><a href="#">Specification by Example (aka BDD)</a></h3>
							<p>Teams working in an Agile environment commonly use Stories to track and prioritize feature requirements. But given an individual Story, how do you know when you are done with it? Enter "Executable Specifications". Creating acceptance criteria for a Story tells you where to start and when to stop. Automating them allows you to regularly test that nothing has broken. Executable Specifications are the missing glue that ties the pipeline together.</p>
						</li>
						<li>
							<span class="glyphicon glyphicon-asterisk"></span>
							<h3><a href="#">Coderetreat</a></h3>
							<p>Coderetreat is a day-long, intensive practice event, focusing on the fundamentals of software development and design. By providing developers the opportunity to take part in focused practice, away from the pressures of 'getting things done', the coderetreat format has proven itself to be a highly effective means of skill improvement. Practicing the basic principles of modular and object-oriented design, developers can improve their ability to write code that minimizes the cost of change over time.</p>
						</li>
					</ul>
				</div>	
			</div>
		</div>
	</div>
</section>

{% include feedback.html title='What people who have attended have to say' type='workshops' %}

