<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en" class="js csstransitions">
<!--<![endif]-->
<head>
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/blend/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/blend/style.css">
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/blend/responsive.css">
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/blend/color/driven.css" id="colors">
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/blend/settings.css">

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700,300">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway:400,800,900,100,300">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700">
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/blend/fonts/fontello.css" id="colors">
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/blend/fonts/gizmo.css" id="colors">
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/blend/fonts/picons.css">
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/blend/owl.carousel.css">


    <!-- <script src="js/modernizr.custom.js"></script> -->
</head> 
<body style="overflow: visible;">


<div class="content-wrap">       
            
     <div class="content">
        {% include header-blend.html %}
        {{ content }}
        {% include footer-blend.html %}

     </div>
</div>

    <!-- JS Files
    ================================================== -->

    <script src="{{ site.url }}/scripts/js/jquery.min.js"></script>
    <script src="{{ site.url }}/scripts/js/jquery.inview.js"></script>
    <script src="{{ site.url }}/scripts/js/jquery.themepunch.plugins.min.js"></script>
    <script src="{{ site.url }}/scripts/js/jquery.themepunch.revolution.min.js"></script>
    <script src="{{ site.url }}/scripts/js/bootstrap.min.js"></script>
    <script src="{{ site.url }}/scripts/js/imagesloaded.pkgd.min.js"></script>
    <script src="{{ site.url }}/scripts/js/jquery.fancybox.pack.js"></script>
    <script src="{{ site.url }}/scripts/js/isotope.pkgd.min.js"></script>
    <script src="{{ site.url }}/scripts/js/owl.carousel.min.js"></script>
    <script src="{{ site.url }}/scripts/js/twitter-bootstrap-hover-dropdown.min.js"></script>
    <script src="{{ site.url }}/scripts/js/scripts.js"></script> 


{% if page.url == "/new/" or page.url == "/" %}

<script>
    var CR_CALLBACK = function(data) {
        var code_retreats = data.meta.total_count;
        $('#counter-coderetreat').attr('data-perc', code_retreats);
        $('#counter-coderetreat > span').val(code_retreats);
    };
</script>

<script src="https://api.meetup.com/2/events?offset=0&format=json&limited_events=False&group_urlname=coderetreat&photo-host=public&page=0&fields=&order=time&status=past&desc=false&sig_id=41810252&sig=c76c098ace7e2c49cee206bbccabc006a4ed9dbe&callback=CR_CALLBACK"></script>

{% endif %}

</body>
</html>

