<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en" class="js csstransitions">
<!--<![endif]-->
<head>
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/blend/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/blend/style.css">
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/blend/responsive.css">
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/blend/color/driven.css" id="colors">
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/blend/settings.css">

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700,300">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway:400,800,900,100,300">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700">
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/blend/fonts/fontello.css" id="colors">
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/blend/fonts/gizmo.css" id="colors">
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/blend/fonts/picons.css">
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/blend/owl.carousel.css">


    <!-- <script src="js/modernizr.custom.js"></script> -->
</head> 
<body style="overflow: visible;">


<div class="content-wrap">       
            
     <div class="content">
        {% include header-blend.html %}
        {{ content }}
        {% include footer-blend.html %}

     </div>
</div>

    <!-- JS Files
    ================================================== -->

    <script src="{{ site.url }}/scripts/js/jquery.min.js"></script>
    <script src="{{ site.url }}/scripts/js/jquery.themepunch.plugins.min.js"></script>
    <script src="{{ site.url }}/scripts/js/jquery.themepunch.revolution.min.js"></script>
    <script src="{{ site.url }}/scripts/js/bootstrap.min.js"></script>
    <script src="{{ site.url }}/scripts/js/imagesloaded.pkgd.min.js"></script>
    <script src="{{ site.url }}/scripts/js/jquery.fancybox.pack.js"></script>
    <script src="{{ site.url }}/scripts/js/isotope.pkgd.min.js"></script>
    <script src="{{ site.url }}/scripts/js/owl.carousel.min.js"></script>
    <script src="{{ site.url }}/scripts/js/twitter-bootstrap-hover-dropdown.min.js"></script>
    <script src="{{ site.url }}/scripts/js/scripts.js"></script> 



</body>
</html>

