<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <meta name="viewport" content="initial-scale=1" />
    <link rel="stylesheet", href="{{ site.url }}/css/style.css" />
    <link rel='stylesheet' id='avia-google-webfont' href='//fonts.googleapis.com/css?family=Open+Sans:400,600' type='text/css' media='all'/>
</head>
<body>
    {% include newheader.html %}
    {{ content }}
    {% include newfooter.html %}
</body>
</html>

