<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <meta name="viewport" content="initial-scale=1" />
    <link rel="stylesheet", href="{{ site.url }}/css/style.css" />
    <link rel="stylesheet", href="{{ site.url }}/css/index.sequence.css" /> 
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/js/jquery.sequence-min.js"></script>
</head> 
<body>
    {% include newheader.html %}
    {{ content }}
    {% include newfooter.html %}
</body>
</html>

